"*":
  "activate-power-mode":
    comboMode:
      activationThreshold: 1
      opacity: 0.4
    particles:
      colours:
        fixed: "#00fdff"
      size: {}
      spawnCount:
        max: 8
        min: 4
      totalCount:
        max: 800
    playAudio:
      enabled: true
      volume: 0.01
    screenShake:
      maxIntensity: 0
      minIntensity: 0
  "atom-beautify":
    css:
      align_assignments: true
      default_beautifier: "Pretty Diff"
    general:
      _analyticsUserId: "aa815f69-15fe-4f40-a3d3-b0d0f83f2bbe"
      beautifyEntireFileOnSave: false
      muteAllErrors: true
    html: {}
    js: {}
    json: {}
    jsx: {}
    less: {}
    markdown: {}
    sass: {}
    scss:
      align_assignments: true
    vue: {}
  "atom-ctags": {}
  "atom-ternjs":
    useSnippets: true
  core:
    disabledPackages: [
      "symbols-view"
      "jslint"
      "linter-jslint"
      "atom-ctags"
      "simplified-chinese-menu"
      "autoclose-html"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "3af9b5fc-1479-ccdd-31c6-f33c27768026"
  jslint:
    validateOnSave: false
  "linter-jslint":
    disableWhenNoJslintrcFileInPath: true
  minimap:
    adjustAbsoluteModeHeight: true
    autoToggle: false
    charHeight: 4
    charWidth: 2
    plugins:
      "identifier-highlight": true
      "identifier-highlightDecorationsZIndex": 0
  "seti-syntax":
    dynamicColor: false
    themeColor: "Orange"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
